<header>
  <nav>
    <div class="nav-wrapper cyan darken-1">
        <div class="container">
          <a href="{{ "/" | relative_url }}" class="brand-logo">Sam Meech-Ward</a>
          <ul class="right hide-on-med-and-down">
              <li class="youtube-projects-page-nav-link"><a href="{{ '/youtube-projects' | relative_url }}">Youtube Projects</a></li>
              <li class="projects-page-nav-link"><a href="{{ '/projects' | relative_url }}">Other Projects</a></li>
              <li class="blog-page-nav-link"><a href="{{ '/blog' | relative_url }}">Blog</a></li>
              <li class="about-page-nav-link"><a href="{{ '/about' | relative_url }}">About</a></li>
          </ul>
        </div>
    </div>
  </nav>
</header>

<script>
  window.pageClass = "{{ page.class }}";
</script> 