<head>
  <meta charset="utf-8">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124454815-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124454815-2');
  </script>


  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="{{ '/assets/js/materialize.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/site.js' | relative_url }}"></script>

  <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/icons' | relative_url }}/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ '/assets/images/icons' | relative_url }}/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/icons' | relative_url }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/images/icons' | relative_url }}/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/icons' | relative_url }}/favicon-16x16.png">
  <link rel="manifest" href="{{ '/assets/images/icons' | relative_url }}/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ '/assets/images/icons' | relative_url }}/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <title>{{ page.title | escape }}</title>
</head>
