@media only screen and (min-width: 360px) { .flow-text-em { font-size: 1.2em-0.2em; } }
@media only screen and (min-width: 390px) { .flow-text-em { font-size: 1.224em-0.2em; } }
@media only screen and (min-width: 420px) { .flow-text-em { font-size: 1.248em-0.2em; } }
@media only screen and (min-width: 450px) { .flow-text-em { font-size: 1.272em-0.2em; } }
@media only screen and (min-width: 480px) { .flow-text-em { font-size: 1.296em-0.2em; } }
@media only screen and (min-width: 510px) { .flow-text-em { font-size: 1.32em-0.2em; } }
@media only screen and (min-width: 540px) { .flow-text-em { font-size: 1.344em-0.2em; } }
@media only screen and (min-width: 570px) { .flow-text-em { font-size: 1.368em-0.2em; } }
@media only screen and (min-width: 600px) { .flow-text-em { font-size: 1.392em-0.2em; } }
@media only screen and (min-width: 630px) { .flow-text-em { font-size: 1.416em-0.2em; } }
@media only screen and (min-width: 660px) { .flow-text-em { font-size: 1.44em-0.2em; } }
@media only screen and (min-width: 690px) { .flow-text-em { font-size: 1.464em-0.2em; } }
@media only screen and (min-width: 720px) { .flow-text-em { font-size: 1.488em-0.2em; } }
@media only screen and (min-width: 750px) { .flow-text-em { font-size: 1.512em-0.2em; } }
@media only screen and (min-width: 780px) { .flow-text-em { font-size: 1.536em-0.2em; } }
@media only screen and (min-width: 810px) { .flow-text-em { font-size: 1.56em-0.2em; } }
@media only screen and (min-width: 840px) { .flow-text-em { font-size: 1.584em-0.2em; } }
@media only screen and (min-width: 870px) { .flow-text-em { font-size: 1.608em-0.2em; } }
@media only screen and (min-width: 900px) { .flow-text-em { font-size: 1.632em-0.2em; } }
@media only screen and (min-width: 930px) { .flow-text-em { font-size: 1.656em-0.2em; } }
@media only screen and (min-width: 960px) { .flow-text-em { font-size: 1.68em-0.2em; } }
@media only screen and (max-width: 360px) { .flow-text-em { font-size: 1.2em-0.2em; } }

@media only screen and (min-width: 360px) { main p, main li { font-size: 1.2rem-0.2rem; } }
@media only screen and (min-width: 390px) { main p, main li { font-size: 1.224rem-0.2rem; } }
@media only screen and (min-width: 420px) { main p, main li { font-size: 1.248rem-0.2rem; } }
@media only screen and (min-width: 450px) { main p, main li { font-size: 1.272rem-0.2rem; } }
@media only screen and (min-width: 480px) { main p, main li { font-size: 1.296rem-0.2rem; } }
@media only screen and (min-width: 510px) { main p, main li { font-size: 1.32rem-0.2rem; } }
@media only screen and (min-width: 540px) { main p, main li { font-size: 1.344rem-0.2rem; } }
@media only screen and (min-width: 570px) { main p, main li { font-size: 1.368rem-0.2rem; } }
@media only screen and (min-width: 600px) { main p, main li { font-size: 1.392rem-0.2rem; } }
@media only screen and (min-width: 630px) { main p, main li { font-size: 1.416rem-0.2rem; } }
@media only screen and (min-width: 660px) { main p, main li { font-size: 1.44rem-0.2rem; } }
@media only screen and (min-width: 690px) { main p, main li { font-size: 1.464rem-0.2rem; } }
@media only screen and (min-width: 720px) { main p, main li { font-size: 1.488rem-0.2rem; } }
@media only screen and (min-width: 750px) { main p, main li { font-size: 1.512rem-0.2rem; } }
@media only screen and (min-width: 780px) { main p, main li { font-size: 1.536rem-0.2rem; } }
@media only screen and (min-width: 810px) { main p, main li { font-size: 1.56rem-0.2rem; } }
@media only screen and (min-width: 840px) { main p, main li { font-size: 1.584rem-0.2rem; } }
@media only screen and (min-width: 870px) { main p, main li { font-size: 1.608rem-0.2rem; } }
@media only screen and (min-width: 900px) { main p, main li { font-size: 1.632rem-0.2rem; } }
@media only screen and (min-width: 930px) { main p, main li { font-size: 1.656rem-0.2rem; } }
@media only screen and (min-width: 960px) { main p, main li { font-size: 1.68rem-0.2rem; } }
@media only screen and (max-width: 360px) { main p, main li { font-size: 1.2rem-0.2rem; } }

@media only screen and (min-width: 360px) { code { font-size: 1.2rem-0.5rem; } }
@media only screen and (min-width: 390px) { code { font-size: 1.224rem-0.5rem; } }
@media only screen and (min-width: 420px) { code { font-size: 1.248rem-0.5rem; } }
@media only screen and (min-width: 450px) { code { font-size: 1.272rem-0.5rem; } }
@media only screen and (min-width: 480px) { code { font-size: 1.296rem-0.5rem; } }
@media only screen and (min-width: 510px) { code { font-size: 1.32rem-0.5rem; } }
@media only screen and (min-width: 540px) { code { font-size: 1.344rem-0.5rem; } }
@media only screen and (min-width: 570px) { code { font-size: 1.368rem-0.5rem; } }
@media only screen and (min-width: 600px) { code { font-size: 1.392rem-0.5rem; } }
@media only screen and (min-width: 630px) { code { font-size: 1.416rem-0.5rem; } }
@media only screen and (min-width: 660px) { code { font-size: 1.44rem-0.5rem; } }
@media only screen and (min-width: 690px) { code { font-size: 1.464rem-0.5rem; } }
@media only screen and (min-width: 720px) { code { font-size: 1.488rem-0.5rem; } }
@media only screen and (min-width: 750px) { code { font-size: 1.512rem-0.5rem; } }
@media only screen and (min-width: 780px) { code { font-size: 1.536rem-0.5rem; } }
@media only screen and (min-width: 810px) { code { font-size: 1.56rem-0.5rem; } }
@media only screen and (min-width: 840px) { code { font-size: 1.584rem-0.5rem; } }
@media only screen and (min-width: 870px) { code { font-size: 1.608rem-0.5rem; } }
@media only screen and (min-width: 900px) { code { font-size: 1.632rem-0.5rem; } }
@media only screen and (min-width: 930px) { code { font-size: 1.656rem-0.5rem; } }
@media only screen and (min-width: 960px) { code { font-size: 1.68rem-0.5rem; } }
@media only screen and (max-width: 360px) { code { font-size: 1.2rem-0.5rem; } }