body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto';
  color: white;
  text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 3px;
}

main {
  flex: 1 0 auto;
  width: 100%;
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    a {
       max-width: 100%;
       white-space: pre;
    }
  }
}

.container {
  max-width: 1000px;
  &--outer {
    max-width: 1100px;
  }
  &--inner {
    max-width: 1000px;
    width: 100%;
  }
}

.page {
  width: 100%;
}

// Header

header {
  nav {
    color: white;
    .nav-wrapper  {
      background-color: $aprils-cool-colour;
    }
    .sidenav-trigger {
      margin: 0;
    }
  }
}

#mobile-nav {
  .nav-header {
    .brand-logo {
      font-size: 1rem;
    }
    p {
      margin: 0;
    }
  }
}


// Footer

.page-footer {
  background-color: $aprils-cool-colour;
}

.page-footer .footer-copyright {
  background-color: $aprils-cool-colour;
}

// Sections

.first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 100%;
  background-color: $aprils-cool-colour;
}
.second-section {
  color: black;
  margin-top: 100px;
  margin-bottom: 100px;
 }