body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  nav {
    .sidenav-trigger {
      margin: 0;
    }
  }
}

#mobile-nav {
  .nav-header {
    // padding-top: 8px;
    .brand-logo {
      font-size: 1rem;
    }
    p {
      margin: 0;
    }
  }
}

.profile-image-container {
  max-width: 100%;
  // width: 200px;
  // float: left;
  img {
    // width: 100%;
    width: 300px;
    max-width: 100%;
  }
}

.container {
  max-width: 1000px;
}

// @media (min-width: 600px) {
//   // main {
//   //   font-size: 18px;
//   // }
//   // p, table {
//   //   font-size: 20px;
//   // }
//   // h3 {
//   //   font-size: 30px;
//   // }
//   // h1 {
//   //   font-size: 50px;
//   // }
//   // h2 {
//   //   font-size: 40px;
//   // }

//   .container {
//     max-width: 1000px;
//   }

//   header {
//     nav {
//       ul {
//         a {
//           font-size: 18px;
//         }
//       } 
//     }
//   }
// }

// @media (max-width: 599px) {

//   h3 {
//     font-size: 20px;
//   }
//   h1 {
//     font-size: 30px;
//   }
//   h2 {
//     font-size: 25px;
//   }

//   .container {
//     max-width: 1000px;
//   }

//   header {
//     nav {
//       ul {
//         a {
//           font-size: 18px;
//         }
//       } 
//     }
//   }
// }



