body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 1000px;
  &--outer {
    max-width: 1100px;
  }
  &--inner {
    max-width: 1000px;
    width: 100%;
  }
}

header {
  nav {
    .sidenav-trigger {
      margin: 0;
    }
  }
}

#mobile-nav {
  .nav-header {
    .brand-logo {
      font-size: 1rem;
    }
    p {
      margin: 0;
    }
  }
}

main {
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    a {
       max-width: 100%;
       white-space: pre;
    }
  }
}