@import "materialize/components/global";

.post {
  ul {
    li {
      margin-left: 1.5rem;
      list-style-type: circle;
    }
  }

  &__content {
    p, ul, ol, h2, h3, h4, h5, h6, .action, blockquote {
      max-width: 1000px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    code {
      max-width: 100%;
    }
  }

  & &__image {
    @extend .center-align;
    max-width: 90%;
    img {
      max-width: 100%;
      border: 10px solid $theme-color;
    }
    &.--large {
      max-height: 1000px;
    }
  }
}
